@import '../../../styles/boilerplate.scss';

.badge {
  &_primary,&_secondary {
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
  }

  &_primary {
    background-color: $teal;
    color: $white;
  }

  &_secondary {
    background-color: $pink;
    color: $black;
  }
}