@use 'styles/boilerplate.scss' as *;

.badge {
  &_primary,&_secondary {
    @include font-size(14);
    font-weight: 600;
    line-height: 18px;
    text-transform: capitalize;
    letter-spacing: .5px;
    padding: 5px 12px;
    border-radius: 56px;
    height: 28px;
  }

  &_primary {
    background-color: $blue;
    color: $white;
  }

  &_secondary {
    background-color: $purple;
    color: $white;
  }
};