@use '../../styles/core/boilerplate' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 486px;

  @include desktop-large-down {
    width: 100%;
  }
  @include mobile-down {
    grid-template-columns: 1fr;
    padding: 12px 12px;
  }
}

.subcard {
  @include desktop-large-down {
    order: -1;
  }
}

.support_links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.space_icon {
  transform: scale(1.3);
}

.tile_buttons {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

  @include mobile-down {
    grid-template-columns: 1fr;
    padding: 0 24px;
  }
}

.upgrade_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gradient-warm;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 24px;
  @include mobile-down {
    flex-wrap: wrap;
  }
  div:first-of-type {
    margin-right: 20px;
    @include mobile-down {
      margin-bottom: 12px;
    }
  }
  button {
    min-width: 120px;
  }
}
