@import '../../../styles/boilerplate';

.main_nav {
  &_wrapper {
    height: 80px;
    width: 100%;
    background: $green;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_contents {
    display: flex;
  }
}

.branding_wrapper {
  width: 300px;
}

