@use 'styles/boilerplate' as *;

.main_nav {
  position: absolute;
  width: 100%;

  &_wrapper {
    height: 80px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: $color-background-overlay;

    @include tablet-down {
      padding: 10px;
    }
  }

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
  }

  &_contents {
    display: flex;
    align-items: center;
  }

  &_links {
    margin-left: 50px;
  }

  &_link {
    @include font-size(14);
    font-weight: 700;
    border-bottom: solid $black 2px;
    padding-bottom: 0;
  }

  &_account {
    display: flex;
    margin: 10px;
  }
}

button.exit_button {
  @include mobile-down {
    display: none;
  }
}

.mobile {
  &_menu {
    display: none;
    margin-right: 20px;

    @include tablet-down {
      display: block;
    }
  }
}

.banner_gradient {
  padding: 4px;
  background: $gradient-warm;
}

.logo {
  @include secondary-font();
  @include font-size(39);
  color: #ffffff;
  margin-right: 8px;

  &_wrapper {
    display: flex;
    align-items: center;
  }
}

.dropdown_wrapper {
  padding: 16px;
  background-color: $color-interactions-menu;
}

.account {
  &_wrapper {
    display: flex;
  }

  &_details {
    margin-left: 10px;
  }

  &_label {
    @include primary-font(500);
    @include font-size(14);
    color: $color-text-subtle;
    line-height: 24px;
    margin-bottom: 4px;
  }

  &_email {
    @include secondary-font(700);
    @include font-size(16);
    color: $color-text-reverse;
    line-height: 20px;
  }
}
