@use 'styles/core/boilerplate' as *;

.upgrade_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gradient-warm;
  border-radius: 12px;
  padding: 16px;
  @include mobile-down {
    flex-wrap: wrap;
  }
}
