@use 'styles/core/boilerplate' as *;

.section {
  &_wrapper {
    background: $gradient-rainbow;
    display: flex;
    justify-content: center;
    padding: 24px 0;

    @include desktop-down {
      background: $color-background-neutral-0;
    }
    @include desktop-large-down {
      padding: 24px 18px;
    }
  }

  &_container {
    display: flex;
    color: $color-text-reverse;
    justify-content: space-between;
    max-width: $container-max-width;
    position: relative;
  }

  &_contents {
    width: 50%;
  }

  &_image {
    position: absolute;
    top: -50px;
    right: 0;
  }
}

div.modal {
  width: 100%;
}
