@use 'styles/boilerplate.scss' as *;

.card {
  &_wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: $drop-shadow;
    border-left: 20px solid $accent-grey;
  }

  &_stat {
    @include font-size(14);
    display: flex;
    align-items: center;
    color:$grey;
  }

  &_name {
    @include font-size(16);
    font-weight: 700;
    line-height: 18px;
    color: $black;
    margin-left: 10px;
  }

  &_domain {
    display: flex;
    justify-content: center;
  }

  &_actions_wrapper {
    display: flex;
    align-items: center;
  }
}