@use 'styles/core/boilerplate' as *;

.card {
  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_status {
    height: 14px;
    width: 14px;
    border-radius: 20px;

    &_wrapper {
      @include primary-font();
      @include font-size(16);
      display: flex;
      align-items: center;
      height: 30px;
      color: $color-text-main;
    }

    &_ready {
      background-color: $color-status-ready;
    }

    &_updating {
      background-color: $color-status-busy;
    }

    &_creating {
      border: $color-status-offline 2px solid;
    }

    &_subdomainError,
    &_error {
      background-color: $color-semantic-critical;
    }
  }
}
