@use 'styles/boilerplate.scss'as *;

.footer {
  display: flex;

  &_block {
    @include primary-font(500);
    @include font-size(16);
    line-height: 24px;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: $color-text-subtle;
  }
}

.storage_icon {
  position: absolute;
  left: -32px;
  top: -19px;

  &_warning {
    stroke: $color-semantic-warning;
  }

  &_critical {
    stroke: $color-semantic-critical;
  }
}

// Status States 
.status {
  &_warning {
    &>span {
      color: $color-semantic-warning;
    }
  }

  &_critical {
    &>span {
      color: $color-semantic-critical;
    }
  }
}


// Progress Bar States
div.progressbar {

  &_warning {
    background-color: $color-semantic-warning;
  }

  &_critical {
    background-color: $color-semantic-critical;
  }

  &_wrapper {
    width: 100px;
    margin-bottom: 12px;
    position: relative;
  }
}