@use 'styles/boilerplate' as *;

.error {
  &_wrapper {
    display: flex;
  }

  &_icon {
    margin-right: 20px;
    height: 32px;
    width: 32px;
  }

  &_title {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
    color: #d32947;
  }

  &_body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150% !important;
    margin-bottom: 16px;
    width: 220px;
    color: #000000;
  }
}
