@use 'styles/core/boilerplate' as *;

.card {
  &_wrapper {
    width: 692px;
    padding: 30px 32px;
    box-shadow: 0px 0px 8px rgba(97, 97, 97, 0.35);
    border-radius: 20px;
    background-color: $color-neutral-0;
    margin-bottom: 32px;

    @include mobile-down {
      margin-bottom: 0px;
    }

    @include desktop-large-down {
      width: 100%;
    }

    @include mobile-down {
      border-radius: 0;
    }
  }

  &_hr {
    border: 1px solid $color-border-1;
    margin: 30px 0;
  }

  &_name {
    @include secondary-font(700);
    @include font-size(36);
    line-height: 46px;
    color: $color-text-main;
    margin-bottom: 12px;
  }
}

.creating {
  color: $color-text-disabled;
}
