@use 'styles/core/boilerplate' as *;

.wrapper {
  background-color: $color-interactions-menu;
  color: $color-text-reverse;
  padding: 24px;
  display: flex;
  justify-content: center;

  @include mobile-down {
    padding: 16px;
  }
}

.container {
  max-width: 1197px;
  width: 100%;

  h3 {
    @include secondary-font(700);
    @include font-size(28);
    line-height: 36px;
    margin: 0px;

    @include mobile-down {
      @include font-size(20);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;

  @include tablet-down {
    flex-direction: column;
    align-items: flex-start;
  }

  p {
    @include primary-font(500);
    @include font-size(16);
    line-height: 24px;
    margin: 8px 0;
    max-width: 790px;
  }
}

.button {
  margin: 8px 0;
}
