@use 'styles/core/boilerplate' as *;

.description {
  display: block;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 1;
  padding: 10px;
  margin-top: 5px;
  font-weight: 100;
  width: 300px;
  border-radius: 12px;
  padding-left: 13px;
}

.container {
  position: absolute;
  display: block;
  margin-left: 75px;
}
// Need to add animation on leave
// Need to remove
