@use 'styles/core/boilerplate' as *;

.contents {
  max-width: 700px;
}

.container {
  border-radius: 10px;
  background-color: $color-neutral-0;
  overflow: hidden;
  line-height: 24px;
}

.continue_wrapper {
  padding: 20px;

  @include mobile-down {
    min-height: 260px;
  }

  h2 {
    font-family: $secondary-font;
  }

  button {
    min-width: 240px;
    max-width: 350px;
    align-self: center;
  }
}

.gradient_banner {
  background: $gradient-warm;
  align-items: center;
  justify-content: space-between;

  @include tablet-down {
    display: block;

    p {
      margin-bottom: 12px;
    }
  }
}

.info_wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;

  @include mobile-down {
    grid-template-columns: 100%;
  }
}
