@use 'styles/core/boilerplate' as *;
.wrapper {
  width: 100%;
  display: flex;
  gap: 30px;

  @include desktop-large-down {
    margin-bottom: 20px;
  }

  @include tablet-down {
    flex-wrap: wrap;
  }

  @include mobile-down {
    gap: 0;
  }
}

.card {
  color: $color-text-reverse;
  width: 50%;

  &:first-of-type {
    background-color: $color-brand-3;
  }
  &:last-of-type {
    background-color: $color-brand-1;
  }

  @include tablet-down {
    width: 100%;
  }

  @include mobile-down {
    border-radius: 0;
  }
}
