@use '../../styles/core/boilerplate' as *;

.layout_wrapper {
  margin-top: 95px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;

  @include desktop-large-down {
    margin-top: 35px;
    flex-direction: column;
    padding: 0 24px;
    justify-content: initial;
    flex-wrap: initial;
  }

  @include mobile-down {
    margin-top: 0;
    padding: 0;
  }
}

.sidep_panel {
  &_skeleton {
    width: 487px;
    height: 100px;

    @include desktop-large-down {
      width: 100%;
    }
  }

  @include desktop-large-down {
    margin-bottom: 24px;
  }

  @include mobile-down {
    margin-bottom: 0;
  }
}
