<script type="text/javascript">
  window.APP_CONFIG = <%= raw Dash.AppConfig.to_json() %>;
</script>
<script type="text/javascript">
  window.FEATURE_FLAGS = <%= raw Dash.FeatureFlags.to_json() %>;
</script>
<script defer type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
<div id="root"></div>
