@use 'styles/core/boilerplate' as *;

.wrapper {
  background-color: $color-background-neutral-0;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 375px;
  color: $color-text-main;
  padding: 40px;
  overflow: hidden;
  position: relative;
  margin: 0px 17px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile-down {
    width: 100%;
    margin: 0px 24px 24px;
  }
}

.banner_gradient {
  padding: 6px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.highlight {
  &_warm {
    background: $gradient-warm;
  }
  &_silver {
    background: $color-background-subtle-callout;
  }
  &_rainbow {
    background: $gradient-rainbow;
  }
}

.title {
  @include heading-lg;
  text-align: center;
  margin: 0 0 16px;
  width: 210px;

  @include tablet-up {
    width: 226px;
  }
}

.price {
  display: inline-flex;
  align-items: baseline;
  margin: 0;

  h2 {
    @include heading-lg;
    margin: 0 4px 0 0;
  }

  p {
    @include body-md;
    margin: 0;
  }

  &_wrapper {
    background-color: $color-background-subtle-callout;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 24px;
  }

  &_container {
    text-align: center;
  }

  &_cadence {
    @include body-md;
    margin: 0;
  }
}

.footer {
  button {
    flex-grow: 1;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.sold_out {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -40px;
}

.circle {
  background-color: $color-semantic-success;
  height: 16px;
  width: 16px;
  border-radius: 20px;
  display: inline-block;
  margin: 4px 24px 0px 5px;
}
