@use 'styles/core/boilerplate' as *;

.wrapper {
  @include desktop-down {
    padding: 24px;
    max-width: 540px;
  }
}

.header {
  text-align: center;
}

.contents {
  display: flex;
  flex-direction: column;

  @include tablet-large-up {
    flex-direction: row;
  }
}

.image {
  width: 440px;
  margin: 40px 90px 0 0;
}

.bar {
  padding: 4px;
  background: $gradient-warm;
  border-radius: 20px;
  margin-bottom: 16px;
  max-width: 300px;
  width: 100%;

  &_wrapper {
    display: flex;
    justify-content: center;
  }
}

/**
 FORM STYLES
**/
.form {
  display: flex;
  justify-content: center;
  max-width: 540px;
  flex-grow: 1;

  &_legend {
    padding: 0;
    margin-bottom: 10px;
  }
  &_cta {
    display: flex;
    gap: 16px;
    margin-top: 16px;

    @include desktop-down {
      display: flex;
      justify-content: center;
    }
  }
}
