@use 'styles/boilerplate.scss'as *;

.wrapper {
  display: flex;
  justify-content: center;
  padding: 220px 32px;
  background: $gradient-warm;
  position: relative;
}

.container {
  max-width: $container-max-width;
}

.header {
  color: $color-text-main;
  text-align: center;

  h2 {
    @include h1;
    margin: 0 0 16px;
  }

  p {
    @include body-md;
    margin: 0 100px 64px;

    @include tablet-down {
      margin: 0 24px 64px;
    }
  }
}

.tile {

  &s {
    display: grid;
    grid-template-columns: 385px 385px 385px;
    column-gap: 23px;

    @include desktop-large-down {
      grid-template-columns: 32% 32% 32%;
    }

    @include tablet-down {
      grid-template-columns: 100%;
      row-gap: 23px;
    }
  }

  &_wrapper {
    background: $color-background-neutral-0;
    box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
  }

  &_container {
    position: relative;
  }

  &_image {
    position: relative;
    height: 207px;
    width: 100%;
  }

  &_bar {
    /* LIGHT/Brand/ducks-beak */
    // TODO get CSS VAR for this color.
    background: #FF806F;
    width: 82px;
    padding: 4px;
    border-radius: 100px;
    margin-bottom: 12px;
  }

  &_content {
    padding: 24px;

    h3 {
      @include h2;
      margin: 0 0 12px;
    }

    p {
      @include body-md;
      margin: 0;
    }
  }

}

.bubble {

  &_top,
  &_bottom {
    position: absolute;
    height: 300px;
    width: 100%;
    background: transparent;
    background-position: center;
  }

  &_top {
    top: 0;
  }

  &_bottom {
    bottom: 0;
  }
}