@use 'styles/boilerplate.scss' as *;

.wrapper {
  display: flex;
  justify-content: center;
  padding: 220px 32px;
  background: $gradient-warm;
  position: relative;
}

.container {
  max-width: $container-max-width;
  z-index: 1;
}

.header {
  color: $color-text-main;
  text-align: center;

  h2 {
    @include heading-xxl;
    margin: 0 0 16px;
  }

  p {
    @include body-md;
    margin: 0 100px 64px;

    @include tablet-down {
      margin: 0 24px 64px;
    }
  }
}

.tile {
  &s {
    display: grid;
    grid-template-columns: 385px 385px 385px;
    column-gap: 23px;

    @include desktop-large-down {
      grid-template-columns: 32% 32% 32%;
    }

    @include tablet-down {
      grid-template-columns: 100%;
      row-gap: 23px;
    }
  }

  &_wrapper {
    background: $color-background-neutral-0;
    box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    &:hover {
      .desc_wrapper {
        opacity: 1;
        max-height: 400px;
      }
      .tile_image {
        height: 207px;
      }
    }
  }

  &_container {
    position: relative;
  }

  &_image {
    transition: 0.5s;
    position: relative;
    height: 275px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;

    @include tablet-down {
      height: 207px;
    }
  }

  &_bar {
    /* LIGHT/Brand/ducks-beak */
    // TODO get CSS VAR for this color.
    background: #ff806f;
    width: 82px;
    padding: 4px;
    border-radius: 100px;
    margin-bottom: 12px;
  }

  &_content {
    padding: 24px;
    position: relative;

    h3 {
      @include heading-md;
      margin: 0 0 12px;
    }

    p {
      @include body-md;
      margin: 0;
    }
  }
}

.desc_wrapper {
  max-height: 0px;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  z-index: 2;
  background: white;
  left: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px 24px 24px 24px;
  box-shadow: 0px 16px 10px -11px rgba(0, 0, 0, 0.25);

  @include tablet-down {
    opacity: 1;
    max-height: 400px;
    position: relative;
    box-shadow: none;
    padding: 0;
  }
}

.bubble {
  &_top,
  &_bottom {
    position: absolute;
    height: 300px;
    width: 100%;
    background: transparent;
    background-position: center;
  }

  &_top {
    top: 0;
  }

  &_bottom {
    bottom: 0;
  }
}
