@use 'styles/core/boilerplate' as *;

.wrapper_swoosh,
.wrapper_snow,
.wrapper_none {
  display: flex;
  justify-content: center;
  position: relative;
}

.wrapper {
  &_swoosh {
    padding: 90px 32px;
  }
  &_snow {
    padding: 300px 32px;
  }
  &_none {
    padding: 100px 32px;
  }
}

.background {
  // These css names are mapped to
  // form values in Contentful
  &_gradient-rainbow {
    background: $gradient-rainbow;
  }
  &_gradient-warm {
    background: $gradient-warm;
  }
  &_gradient-cool {
    background: $gradient-cool;
  }
}

.container {
  max-width: $container-max-width;
}

.header {
  &_container {
    @include desktop-down {
      text-align: center;
    }
    h2 {
      @include mobile-down {
        max-width: 300px;
      }
    }
  }
}

.body {
  @include body-md;
  text-align: center;
  margin-bottom: 64px;

  @include tablet-down {
    margin: 0 24px 64px;
  }
}

.tile {
  &s {
    display: grid;
    grid-template-columns: 385px 385px 385px;
    column-gap: 23px;

    @include desktop-large-down {
      grid-template-columns: 32% 32% 32%;
    }

    @include tablet-down {
      grid-template-columns: 100%;
      row-gap: 23px;
    }
  }

  &_wrapper {
    background: $color-background-neutral-0;
    box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
  }

  &_container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &_image {
    position: relative;
    height: 207px;
    width: 100%;
  }

  &_bar {
    background: $color-brand-1;
    width: 82px;
    padding: 4px;
    border-radius: 100px;
    margin-bottom: 12px;
  }

  &_content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    h3 {
      @include heading-md;
      margin: 0 0 12px;
    }

    p {
      @include body-md;
      margin: 0;
    }
  }

  &_cta {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
}

// These classes are contentful values
.color-text {
  &-main {
    color: $color-text-main;
  }
  &-reverse {
    color: $color-text-reverse;
  }
}

.snow {
  &_top,
  &_bottom {
    position: absolute;
    height: 300px;
    width: 100%;
    background: transparent;
    background-position: center;
  }

  &_top {
    top: 0;
  }

  &_bottom {
    bottom: 0;
  }
}

.bar_wrapper {
  @include desktop-down {
    display: flex;
    justify-content: center;
  }
}
