@use 'styles/core/boilerplate' as *;

.wrapper {
  flex-grow: 1;
  display: flex;
  gap: 12px;

  p {
    color: $color-text-subtle;
  }
}

.icon {
  min-width: 40px;
  min-height: 40px;
}

.button {
  @include clear-button-styles(flex);
  text-align: left;
}
