@use 'styles/core/boilerplate' as *;

.wrapper {
  flex-grow: 1;

  p {
    @include font-size(14);
    @include secondary-font(700);
    line-height: 150%;
    color: $color-text-subtle;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  color: $color-text-subtle;
  margin-bottom: 8px;
}
