@import '../../../styles/boilerplate.scss';
@import '../../../styles/ui/buttons.scss';

@mixin rect_button_base() {
  @include button_base();
  padding: 0px 16px;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
  height: 45px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover:enabled,
  &:focus {
    background-color: transparent;
  }

  &:disabled,
  &[disabled] {
    &:hover {
      cursor: not-allowed;
    }
  }
}

/*-------------------------------
  PRIMARY BUTTON 
-------------------------------*/
.button_primary {
  @include rect_button_base();
  background-color: $blue;
  border: solid 2px $blue;
  color: $white;

  &_active {
    background-color: $peach;
    border: solid 2px $peach;
  }

  &:hover:enabled,
  &:focus {
    border: solid 2px $blue;
    color: $blue;
  }

  &:disabled,
  &[disabled] {
    background-color: $semi-dark-grey;
    border: solid 2px $semi-dark-grey;
  }
}

/*-------------------------------
  SECONDARY BUTTON
-------------------------------*/
.button_secondary {
  @include rect_button_base();
  background-color: $peach;
  border: solid 2px $peach;
  color: $white;

  &_active {
    background-color: $peach;
    border: solid 2px $peach;
  }

  &:hover:enabled,
  &:focus {
    border: solid 2px $peach;
    color: $peach;
  }

  &:disabled,
  &[disabled] {
    background-color: $semi-dark-grey;
    border: solid 2px $semi-dark-grey;
  }
}

/*-------------------------------
  OUTLINE BUTTON
-------------------------------*/
.button_outline {
  @include rect_button_base();
  background-color: transparent;
  border: solid 2px $grey;
  color: $black;

  &_active {
    background-color: $peach;
    border: solid 2px $peach;
  }

  &:hover:enabled,
  &:focus {
    background-color: $blue;
    border: solid 2px $blue;
    color: $white;
  }

  &:disabled,
  &[disabled] {
    background-color: $semi-dark-grey;
    border: solid 2px $semi-dark-grey;
  }
}