@use 'styles/core/boilerplate' as *;

.wrapper {
  background-color: $color-background-neutral-0;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: $color-text-main;
  padding: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop-large-down {
    width: 100%;
    max-width: 860px;
  }

  @include mobile-down {
    width: 296px;
  }
}

.banner_gradient {
  padding: 6px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.highlight {
  &_silver {
    background: $color-background-subtle-callout;
  }
  &_warm {
    background: $gradient-warm;
  }
  &_rainbow {
    background: $gradient-rainbow;
  }
  &_tree {
    background: $gradient-tree;
  }
}

.price {
  display: flex;
  align-items: baseline;

  &_wrapper {
    background-color: $color-background-subtle-callout;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 24px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop-large-to-tablet {
      margin-bottom: 14px;
      margin-right: 20px;
    }

    @include mobile-down {
      min-height: 80px;
    }
  }

  &_container {
    text-align: center;
  }

  &_cadence {
    @include body-md;
    margin: 0;
  }
}

.hr {
  height: 2px;
  width: 100%;
  border: 0px;
  border-radius: 20px;
  background-color: $color-background-overlay;
}

.footer {
  display: flex;
  justify-content: center;

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  button {
    flex-grow: 1;

    @include desktop-large-to-tablet {
      flex-grow: 0;
      width: 335px;
    }
  }
}

.check {
  stroke-width: 3.5px;
}

.circle {
  background-color: $color-semantic-success;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}
