@use 'styles/core/boilerplate' as *;

.wrapper {
  background-color: $color-background-neutral-0;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 375px;

  color: $color-text-main;
  padding: 40px;
  overflow: hidden;
  position: relative;
  margin: 0px 17px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop-large-down {
    width: 100%;
    max-width: 860px;
  }
}

.container {
  @include desktop-large-to-tablet {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
  }
}

.banner_gradient {
  padding: 6px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.highlight {
  &_warm {
    background: $gradient-warm;
  }
  &_silver {
    background: $color-background-subtle-callout;
  }
  &_rainbow {
    background: $gradient-rainbow;
  }
}

.title {
  @include heading-lg;
  text-align: center;
  margin: 0 0 16px;
}

.price {
  &_wrapper {
    background-color: $color-background-subtle-callout;
    border-radius: 20px;
    padding: 12px;
    margin-bottom: 24px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop-large-to-tablet {
      margin-bottom: 14px;
      margin-right: 20px;
    }
  }

  &_container {
    text-align: center;
  }

  &_cadence {
    @include body-md;
    margin: 0;
  }
}

.footer {
  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  button {
    flex-grow: 1;

    @include desktop-large-to-tablet {
      flex-grow: 0;
      width: 335px;
    }
  }
}

.sold_out {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -40px;
}
