@use 'styles/core/boilerplate' as *;

.wrapper {
  background: $gradient-rainbow;
}

.container {
  padding: 120px 0;
  flex-wrap: wrap;
  flex-grow: 1;

  @include tablet-down {
    padding: 50px 0;
  }

  @include mobile-down {
    margin-top: 40px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  @include desktop-large-down {
    flex-wrap: wrap;
  }
}

.card {
  &_one {
    @include desktop-large-down {
      order: 2;
    }
  }
}

.swoosh {
  position: relative;
  height: 100px;
  width: 100%;

  @include tablet-down {
    height: 50px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.swoosh_bottom {
  background-color: transparent;
  transform: rotate(180deg);
  position: relative;
  height: 100px;
  width: 100%;

  @include tablet-down {
    height: 50px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.starter_enabled {
  &_cards {
    align-items: flex-start;
    z-index: 5;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    @include desktop-large-down {
      flex-wrap: wrap;
    }
  }

  &_swoosh {
    position: relative;
    height: 200px;
    width: 100%;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_swoosh_top {
    transform: rotate(180deg);

    svg {
      margin-top: 2px;
    }
  }

  &_swoosh_bottom {
    background-color: transparent;
    margin-top: -260px;
  }
}

.pro_container {
  background: #170696;
  // hide crease with neg margin top
  margin-top: -2px;
  padding-top: 72px;
  padding-bottom: 72px;
  &_wrapper {
    width: 75vw;
    max-width: 950px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: $color-text-reverse;
    @include tablet-down {
      flex-wrap: wrap;
      width: 90vw;
    }
  }
}

.contact_wrapper {
  min-width: 172px;
  margin-left: 10px;
  @include tablet-down {
    margin-top: 20px;
    margin-left: 0px;
  }
}
