@use 'styles/boilerplate' as *;

.nav {
  &_wrapper {
    width: 300px;
    height: calc(100vh - 80px);
    background-color: $accent-grey;
    box-shadow: $drop-shadow-right;
    z-index: 1;
  }

  &_container {
    ul {
      list-style-type: none;
    }

    li {
      padding: 20px 0;
    }
  }

  &_link {
    @include primary-font(700);
    color: $black;

    &:hover {
      color: $blue;
    }
  }
}
