@use 'styles/core/boilerplate' as *;

.wrapper {
  padding: 16px;
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2); // TODO get CSS VAR
  border: 0;
  color: $color-text-reverse;
}

.container {
  display: flex;
  justify-content: space-between;
  color: $color-text-reverse-subtle;
  margin-bottom: 16px;
}

.icon {
  color: $color-text-main;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  @include font-size(14);
  @include secondary-font(600);
  line-height: 17px;
}
