@use '../../styles/core/boilerplate' as *;

.wrapper {
  margin-top: 50px;
  flex-wrap: wrap;
  flex-grow: 1;

  @include mobile-down {
    margin-top: 40px;
  }
}

.header {
  @include mobile-down {
    margin: 0px 24px;
  }

  h1 {
    color: $color-text-reverse;
    @include heading-lg;
    text-align: center;
    margin: 0 0 40px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
