// // ---------------------------------
// //  Colors
// // ---------------------------------

// ---- Primary Brand Colors ---------------------
$black: #231f20;
$dark-teal: #1C7F8D;

// ---- Accent Colors ---------------------
$teal: #23a2b3;
$light-teal: rgba($teal, .1);
$pink: #D83A94;
$blue-neon: #4D4DFF;
$yellow-neon: #F1EA57;
$peach: #D96868;
$tan: #E5DFD8;

// ---- Utility Colors  ---------------------
$white: #FFFFFF;
$off-white: #e9e9e9;
$grey: #918f90;
$semi-dark-grey: #767474;
$dark-grey: #393536;
$red: #D42828;
$green: #3DC278;
$loading-grey: #f8f8f8;
$light-grey: #f8f8f8;



// ---- Break Points ---------------------
$breakpoint-mobile: 580px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-large: 992px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1220px;
$breakpoint-hd: 1312px;
$container-max-width: 1440px;