@use 'styles/boilerplate.scss'as *;

.wrapper {
  color: #fff;
}

.tiers {
  display: flex;
}

.tier {
  &_wrapper {
    width: 350px;
    padding: 24px;
    background-color: rgba(20, 7, 121, 0.53);
    margin: 8px;
    border-radius: 24px;
  }

  &_container {

  }
}

.image {
  &_wrapper {
    display: flex;
    justify-content: center;
  }
}