.header {
  width: 100%;
  display: flex;
  padding: 1em 0;
  justify-content: space-between;
}
.header h1 {
  margin: 0;
}
.account {
  text-align: right;
  display: flex;
  align-items: center;
}
.account > * {
  margin: 0 0.2em;
}
.account-picture {
  width: 45px;
}
