.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header h1 {
  margin: 0;
}
.account {
  text-align: right;
  display: flex;
  align-items: center;
}
.account > * {
  margin: 0 0.2em;
}
.account-picture {
  width: 30px;
}
