.hub {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-auto-flow: column;
  width: 100%;
  margin: 1em 0;
  padding: 1.0em 0.8em;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px #ccc;
  border-left: 20px solid #e0e0e0;
  font-size: 14px;
}
.hub * {
  margin: 0 0.2em;
}
.hub > * {
  margin: 0.3em 0;
  display: flex;
  align-items: center;
}
.hub .hub-info {
  display: flex;
  align-items: center;
}
.hub .hub-stats {
  color: #868686;
  white-space: nowrap;
}
.hub .name {
  font-weight: bold;
  font-size: 16px;
}
.hub.creating .name {
  color: #868686;
}
.hub .name,
.hub .domain {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hub .hub-buttons {
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: end;
}
.hub .hub-buttons > * {
  margin: 0 0.5em;
}

.tag {
  min-width: 60px;
  padding: 0.2em 0.6em;
  border-radius: 1em;
  background: #ddd;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}
.tag.mvp {
  text-transform: uppercase;
}
.tag.free {
  background: #39e;
}
.tag.mvp {
  background: #663df5;
}
.tag.creating,
.tag.updating {
  background: #da1;
}
.tag.ready {
  background: #381;
}

@media (max-width: 600px) {
  .hub {
    grid-template: repeat(6, 1fr) / 1fr;
  }
}
