.hub {
  width: 100%;
  margin: 1em 0;
  background: #fff;
  padding: 1.0em 0.8em;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px #ccc;
  border-left: 20px solid #e0e0e0;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-auto-flow: column;
  font-size: 14px;
}
.hub * {
  margin: 0 0.2em;
}
.hub > * {
  margin: 0.3em 0;
}
.hub .hub-info {
  display: flex;
  align-items: center;
}
.hub .hub-stats {
  color: #868686;
  white-space: nowrap;
}
.hub .name {
  font-weight: bold;
  font-size: 16px;
}
.hub .name,
.hub .domain {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hub .hub-buttons {
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: end;
}

.tag {
  background: #ddd;
  padding: 0.2em 0.6em;
  border-radius: 1em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.tag.free {
  background: #39e;
}
.tag.premium {
  background: #70c;
}
.tag.creating,
.tag.updating {
  background: #da1;
}
.tag.ready {
  background: #381;
}

@media (max-width: 600px) {
}
