.hub {
  width: 100%;
  margin: 1em 0;
  background: #eee;
  padding: 0.3em;
  border-radius: 0.5em;
}
.hub * {
  margin: 0 0.2em;
}
.hub-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hub-row > * {
  margin: 0.5em 0;
}
.hub-row-group {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}
.hub .hub-stats {
  white-space: nowrap;
}
.hub .name {
  font-weight: bold;
}
.hub .name,
.hub .domain {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag {
  background: #ddd;
  padding: 0 0.3em;
  border-radius: 0.4em;
  color: white;
}
.tag.free {
  background: #39e;
}
.tag.premium {
  background: #70c;
}
.tag.creating,
.tag.updating {
  background: #da1;
}
.tag.ready {
  background: #381;
}

@media (max-width: 600px) {
  .hub-row {
    flex-direction: column;
    align-items: flex-start;
  }
}
