.landing-container {
  background: linear-gradient(312.02deg, #321c64 0%, #095277 100%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  position: relative;
}
.landing {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-column-gap: 6em;
  padding: 2em 4em;
  color: white;
  position: relative;
  z-index: 2;
  max-width: 1000px;
}

.landing .hero {
  font-size: 25pt;
  font-weight: bold;
}
.landing h1 {
  text-align: left;
}
.landing p {
  margin: 4rem 0;
}

.landing .sign-in-desktop,
.landing .sign-in-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .sign-in-mobile {
  display: none;
}

.landing a {
  padding: 2rem 5rem;
  font-size: 25pt;
}
.landing-container .avatar {
  position: absolute;
  transform: rotate(-35deg);
  right: -70px;
  top: 120px;
  z-index: 1;
}

@media (max-width: 600px) {
  .landing {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
  }
  .landing .sign-in-mobile {
    display: block;
  }
  .landing .sign-in-desktop {
    display: none;
  }
}
