.landing-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(312.02deg, #321c64 0%, #095277 100%);
}
.landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
  position: relative;
  z-index: 2;
  color: white;
}
.landing .landing-content {
  max-width: 490px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing .hero {
  margin: 1em 0;
  margin-top: 1.5em;
  font-size: 24pt;
  font-weight: bold;
}
.landing .logo {
  height: 60px;
}
.landing p {
  margin-bottom: 3em;
}

.landing .link-button {
  padding: 2rem 5rem;
  font-size: 12pt;
  background: white;
  color: black;
}

.landing-container .avatar {
  position: absolute;
  right: -70px;
  top: 400px;
  transform: rotate(-35deg);
  z-index: 1;
}

.landing a {
  color: white;
}

.landing .footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
}
.landing .footer a {
  padding-top: 1em;
  padding-right: 1.5em;
}

@media (max-width: 800px) {
  .landing {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
  }
}
