@import 'styles/boilerplate.scss';
@import '../../../styles/ui/buttons.scss';

.icon_button {
  background: none;
  outline: none;
  cursor: pointer;
  border: 0px;

  &_active {
    background-color: $grey;
  }

  &:hover:enabled,
  &:focus {
    color: $blue;
  }

}