@use '../tools/media-queries.scss' as *;
@use '../tools/mixins.scss' as *;
@use '../core/variables.scss' as *;

// ---------------------------------
//   Quick Typograpjhy
// ---------------------------------
.u-font-12 {
  @include font-size(12);
}

.u-font-14 {
  @include font-size(14);
}

.u-font-16 {
  @include font-size(16);
}

.u-font-18 {
  @include font-size(18);
}

.u-capitalize {
  text-transform: capitalize;
}

// Body Text
.u-body-md {
  @include body-md();
}

.u-body-md-bold {
  @include body-md-bold();
}

// Link
.u-primary-link {
  @include primary-link();
}

// Heading
.u-heading-xxl {
  @include heading-xxl();
}

.u-heading-xl {
  @include heading-xl();
}

.u-heading-lg {
  @include heading-lg();
}

.u-heading-md {
  @include heading-md();
}

.u-heading-sm {
  @include heading-sm();
}

.u-heading-xs {
  @include heading-xs();
}

.u-heading-xxs {
  @include heading-xxs();
}

// ---------------------------------
//   Colors
// ---------------------------------
.u-color-text-reverse {
  color: $color-text-reverse;
}

.u-color-text-main {
  color: $color-text-main;
}

// ---------------------------------
//   Visibility
// ---------------------------------

.u-hidden {
  display: none !important;
}

.u-hidden-mobile-only {
  @include mobile-only {
    display: none !important;
  }
}

.u-hidden-tablet-up {
  @include tablet-up {
    display: none !important;
  }
}

.u-hidden-tablet-only {
  @include tablet-only {
    display: none !important;
  }
}

.u-hidden-desktop-up {
  @include desktop-up {
    display: none !important;
  }
}

.u-hidden-desktop-only {
  @include desktop-only {
    display: none !important;
  }
}

.u-hidden-hd-up {
  @include hd-up {
    display: none !important;
  }
}

// ---------------------------------
//   Misc
// ---------------------------------

.u-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-clear-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.u-pointer {
  cursor: pointer;
}

.u-no-link {
  &,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.u-overflow-x-hidden {
  overflow-x: hidden;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-title-case {
  text-transform: capitalize;
}

.u-left-absolute {
  position: absolute;
  left: 0;
}

.u-right-absolute {
  position: absolute;
  right: 0;
}

.u-width-100 {
  width: 100%;
}

.u-content-box {
  &,
  & * {
    box-sizing: content-box;
  }
}

// ---------------------------------
//  Layout
// ---------------------------------

// Create Size Value Array
$start: 0;
$end: 100;
$array: '';
$unit: 'px';

@for $i from $start + 1 through $end {
  $array: append($array, $i, comma);
  $array: set-nth($array, 1, $start);
}

@each $size in $array {
  /**
  PADDING
  **/

  // Padding: General
  .p-#{$size} {
    padding: #{$size}#{$unit};
  }

  // Padding: Horizontal
  .px-#{$size} {
    padding-left: #{$size}#{$unit};
    padding-right: #{$size}#{$unit};
  }

  // Padding: Vertical
  .py-#{$size} {
    padding-top: #{$size}#{$unit};
    padding-bottom: #{$size}#{$unit};
  }

  // Padding: Top
  .pt-#{$size} {
    padding-top: #{$size}#{$unit};
  }

  // Padding: Top
  .pb-#{$size} {
    padding-bottom: #{$size}#{$unit};
  }

  // Margin: Right
  .pr-#{$size} {
    padding-right: #{$size}#{$unit};
  }

  // Margin: Left
  .pl-#{$size} {
    padding-left: #{$size}#{$unit};
  }

  /**
  MARGIN
  **/

  // Margin: General
  .m-#{$size} {
    margin: #{$size}#{$unit};
  }

  // Margin: Horizontal
  .mx-#{$size} {
    margin-left: #{$size}#{$unit};
    margin-right: #{$size}#{$unit};
  }

  // Margin: Vertical
  .my-#{$size} {
    margin-top: #{$size}#{$unit};
    margin-bottom: #{$size}#{$unit};
  }

  // Margin: Top
  .mt-#{$size} {
    margin-top: #{$size}#{$unit};
  }

  // Margin: Top
  .mb-#{$size} {
    margin-bottom: #{$size}#{$unit};
  }

  // Margin: Right
  .mr-#{$size} {
    margin-right: #{$size}#{$unit};
  }

  // Margin: Left
  .ml-#{$size} {
    margin-left: #{$size}#{$unit};
  }
}
