.copy-button {
  all: unset;
  margin-left: 0.5em;
  color: #868686;
  cursor: pointer;
}
.copy-button:hover,
.copy-button:focus {
  background: white;
  color: #868686;
}
.copy-button .icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
}
