@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
.spinner-container {
  width: 100%;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.spinner {
  height: 50px;
  animation: rotate 1s linear infinite;
}
