@use 'styles/boilerplate.scss' as *;

.wrapper {
  background-color: $color-background-overlay;
  width: 415px;
  border-radius: 20px;
  padding: 65px;
  overflow: hidden;
  position: relative;
  margin: 0px 17px 24px;
  color: $color-text-reverse;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 899px) {
    width: 100%;
  }

  @include tablet-down {
    padding: 40px 65px;
  }
}

.content {
  text-align: center;

  h2 {
    @include heading-lg;
    margin: 0 0 24px;
  }

  p {
    @include body-md;
    margin: 0 0 24px;
  }
}
