@import '../tools/mixins.scss';
@import '../tools/functions.scss';

@mixin button-base() {
  @include primary-font(500);
  @include font-size(14);
  background: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  position: relative;
  letter-spacing: 0.44px;
  line-height: 21px;

  @include mobile-down {
    min-width: initial;
    @include font-size(12);
  }
}