@use '../core/boilerplate.scss' as *;

.dropdown_wrapper {
  padding: 16px;
  background-color: $color-interactions-menu;
}

.dropdown-hr {
  border: 0;
  height: 2px;
  background: $color-border-3;
  margin: 24px 0;
}

.dropdown-link {
  @include body-md;
  display: flex;
  align-items: center;
  color: $color-text-reverse;
  background-color: transparent;
  border: 0px;
  padding: 0;
  width: 100%;
}
