@use '../boilerplate.scss'as *;

.dropdown-hr {
  border: 0;
  height: 2px;
  background: $color-border-3;
  margin: 24px 0;
}

.dropdown-link {
  @include body-md;
  display: flex;
  align-items: center;
  color: $color-text-reverse;
  
  &:first-child{
    margin-bottom: 24px;
  }
}