@use '../boilerplate.scss'as *;

.dropdown-hr {
  border: 0;
  height: 1px;
  background: linear-gradient(90deg, #6375F4 0%, #ED2462 52.7%, #F29436 100%);
  margin: 0;
}

.dropdown-link {
  @include font-size(16);
  @include primary-font(400);
  display: flex;
  align-items: center;
}