@use '../../styles/boilerplate.scss'as *;

.main {
  margin-top: 95px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;

  @include desktop-large-down {
    margin-top: 35px;
    flex-direction: column;
    padding: 0 24px;
  }

  @include mobile-down {
    margin-top: 0;
    padding: 0;
  }
  
}

.cards_wrapper {
  margin-right: 20px;
  min-width: 692px;

  @include desktop-large-down {
    margin-right: 0;
    min-width: initial;
  }
}

.subcard {

  @include desktop-large-down {
    margin-bottom: 24px;
  }

  @include mobile-down {
    margin-bottom: 0;
  }
}